{
    "@type": "MessageCard",
    "@context": "http://schema.org/extensions",
    "themeColor": "#FF0000",
    "title": "This is a test MS Team notification from whs_msteam_notification role",
    "summary": "Ansible Job Summary",
    "sections": [{
        "activityTitle": "Test notification summary: ",
        "facts": [
        {
            "name": "Purpose",
            "value": "Testing"
        }        
        ],
        "markdown": false
    }]
}